@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: white;
  background: transparent;
}

body:after {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  background-image: url('../img/odesza.jpg');
  background-size: cover;
}

.navbar {
  padding: .9rem;
  border-bottom: 5px solid black;
  font-weight: bolder;
}

.navbar-nav li {
  padding-right: 10%;
}

.navbar-brand {
  font-weight: bold;
  text-shadow: 1px 1px black;
}

.gradient {
  background-image:
    radial-gradient(
      #076ba3,
      #99d4f5,
      white
    );
}

.padding {
  padding-bottom: 2rem;
}

.display-4 {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
  text-shadow: 4px 4px black;
}

div.card {
    color: black;
    border: solid 5px black;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}

.card-img-top {
    border-bottom: 3px solid black;
}

.card-title {
  color: #4d015c;
  font-weight: bold;
}

/*---Media Queries --*/
@media (max-width: 768px) {
  .display-4 {
    font-size: 200%;
  }

}
@media (max-width: 576px) {

  .display-4 {
    font-size: 160%;
  }

  div.card {
    margin-bottom: 30px;
    border: solid 3px black;
    border-radius: 10px;
}
}
