@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: white;
  background-image: url('../img/odesza.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 250vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  padding: .9rem;
  border-bottom: 5px solid black;
  font-weight: bolder;
}

.navbar-nav li {
  padding-right: 10%;
}

.navbar-brand {
  font-weight: bold;
  text-shadow: 1px 1px black;
}

.gradient {
  background-image:
    radial-gradient(
      #076ba3,
      #99d4f5,
      white
    );
}

.padding {
  padding-bottom: 2rem;
}

.display-4 {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
  text-shadow: 4px 4px black;
}

div.card {
    color: black;
    border: solid 5px black;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}

.card-img-top {
    border-bottom: 3px solid black;
}

/*---Media Queries --*/
@media (max-width: 768px) {
  .display-4 {
    font-size: 200%;
  }

}
@media (max-width: 576px) {

    html, body {
        background-size: 300vh;
      }
      

    /* html, body {
        background-image: url('../img/odesza-smaller.jpg');
        background-size: 150vh;
      }
       */
/* 
       html, body { 
        background: url(../img/odesza.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }   */


  .display-4 {
    font-size: 160%;
  }

  div.card {
    margin-bottom: 30px;
    border: solid 3px black;
    border-radius: 10px;
}
}
